/* ========================================COMPONENTS */
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --bottom-color: #e8c300;
  --heading-text: Lobster, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.bigger-container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
/* ====================================================HEADER */

.navigation-list {
  display: flex;
  padding: 45px 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navigation-item:nth-child(-n + 3) {
  margin-right: 86px;
}

.navigation-link {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-color);
  padding-top: 45px;
  padding-bottom: 45px;
}

.navigation-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--bottom-color);
  transform: scaleX(0);
  transition: transform 250ms linear;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #e8c300;
}

.navigation-link:hover::after,
.navigation-link:focus::after {
  transform: scaleX(1);
}

/* ==============================================================HERO */

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/hero/header-bg.jpg);
  background-color: black;
  width: 1440px;
  height: 800px;
}

.hero-left-text {
  position: absolute;
  top: 437px;
  left: -30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  transform: rotate(-90deg);
  color: var(--white-color);
}

.hero-center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  padding-top: 240px;
}

.hero-place {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-name {
  position: relative;
  font-family: var(--heading-text);
  font-size: 96px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 14px;
  margin-bottom: 74px;
}

.hero-name::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 6px;
  background-color: var(--bottom-color);
  border-radius: 50px;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-down-btn {
  width: 60px;
  height: 60px;
  margin-top: 100px;
  fill: inherit;
  margin-right: 5px;
}

.hero-down-btn:hover {
  fill: var(--bottom-color);
}

.hero-right-section {
  padding-right: 79px;
}

.hero-social-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-social-border:hover,
.hero-social-border:focus {
  background-color: var(--bottom-color);
}

.hero-social-border {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.hero-social-list {
  margin-top: 340px;
}

.hero-social {
  margin-bottom: 20px;
}

.site-bottom {
  max-width: 200px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: var(--white-color);
  border-radius: 5px;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 23px 74px 23px 74px;
  cursor: pointer;
}

.site-bottom:last-child {
  margin-left: 40px;
  margin-right: 25px;
}

.site-bottom:hover,
.site-bottom:focus {
  background-color: var(--bottom-color);
}

/*============================================================== ABOUT-US */

.main-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-text {
  margin-left: 82px;
}

.about {
  position: relative;
  color: var(--black-color);
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.section-up-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  margin-bottom: 30px;
}

.section-down-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
}

/*========================================================== MASTER-SHEF */

.master-chef {
  padding-top: 45px;
  padding-bottom: 50px;
  background-image: url(../images/master-chef/masterchef-bg.jpg);
  background-color: black;
}

.chef-main-container {
  display: flex;
  align-items: center;
}

.chef-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
}

.chef-right-section {
  margin-right: 70px;
}

.chef {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.white-text {
  color: rgba(255, 255, 255, 0.8);
}

.white-text-down {
  color: rgba(255, 255, 255, 0.7);
}

/*========================================================= book a table */

.book-a-table {
  padding-top: 100px;
  padding-bottom: 45px;
}

.main-container-book-a-table {
  display: flex;
  justify-content: flex-end;
}

.imput {
  color: rgba(51, 51, 51, 0.5);
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  width: 277px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.book-a-table-name {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
  color: var(--black-color);
}

.book-a-table-form {
  display: flex;
  width: 565px;
}

.form-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: var(--white-color);
  background: #e8c300;
  border-radius: 5px;
  border: none;
  width: 565px;
  height: 60px;
  text-transform: uppercase;
  cursor: pointer;
}

.book-a-table-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: rgba(51, 51, 51, 0.5);
}

.book-a-table-down-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
}

.black-text {
  font-weight: 700;
}

/* ==========================================specialties */

.specialties {
  background-image: url(../images/specialtes/specialty-bg.jpg);
  background-color: black;
  padding-top: 45px;
  padding-bottom: 10px;
}

.specialties-small-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--white-color);
}

.specialtes-name {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  z-index: 10;
  bottom: 3px;
}

.slick-dots li button:before {
  color: var(--white-color);
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: var(--bottom-color);
}
