/* ========================================COMPONENTS */
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --bottom-color: #e8c300;
  --heading-text: Lobster, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.bigger-container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.dark {
  background-color: rgba(0, 0, 0, 0.9);
}

/* ====================================================HEADER */

.navigation-list {
  display: flex;
  margin: 45px 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navigation-item:nth-child(-n + 3) {
  margin-right: 86px;
}

.navigation-link {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-color);
  padding-top: 45px;
  padding-bottom: 45px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--bottom-color);
  transform: scaleX(0);
  transition: transform 250ms linear;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #e8c300;
}

.navigation-link:hover::after,
.navigation-link:focus::after {
  transform: scaleX(1);
}

/* ==============================================================HERO */

.hero {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/hero/header-bg.jpg);
  background-color: black;
  width: 1440px;
  height: 800px;
}

.hero-left-container {
  position: relative;
  width: 250px;
  height: 100%;
  margin-right: -120px;
}

.hero-left-text {
  position: absolute;
  top: 437px;
  left: -30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: var(--white-color);
  transform: rotate(-90deg);
}

.hero-center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 240px;
}

.hero-place {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-name {
  position: relative;
  font-family: var(--heading-text);
  font-size: 96px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 14px;
  margin-bottom: 74px;
}

.hero-name::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 6px;
  background-color: var(--bottom-color);
  border-radius: 50px;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-down-btn {
  width: 60px;
  height: 60px;
  margin-top: 100px;
  fill: inherit;
  margin-right: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-down-btn:hover {
  fill: var(--bottom-color);
}

.hero-right-section {
  padding-right: 79px;
}

.hero-social-svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-social-border:hover,
.hero-social-border:focus {
  background-color: var(--bottom-color);
}

.hero-social-border {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-list {
  margin-top: 340px;
}

.hero-social {
  margin-bottom: 20px;
}

.site-bottom {
  max-width: 200px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: var(--white-color);
  border-radius: 5px;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 23px 74px 23px 74px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-bottom:last-child {
  margin-left: 40px;
  margin-right: 25px;
}

.site-bottom:hover,
.site-bottom:focus {
  background-color: var(--bottom-color);
}

/*============================================================== ABOUT-US */

.main-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-text {
  margin-left: 82px;
}

.about {
  position: relative;
  color: var(--black-color);
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.section-up-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  margin-bottom: 30px;
}

.section-down-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
}

/*========================================================== MASTER-SHEF */

.master-chef {
  padding-top: 45px;
  padding-bottom: 50px;
  background-image: url(../images/master-chef/masterchef-bg.jpg);
  background-color: black;
}

.chef-main-container {
  display: flex;
  align-items: center;
}

.chef-right-section {
  margin-right: 70px;
}

.chef {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.white-text {
  color: rgba(255, 255, 255, 0.8);
}

.white-text-down {
  color: rgba(255, 255, 255, 0.7);
}

/*========================================================= book a table */

.book-a-table {
  padding-top: 100px;
  padding-bottom: 45px;
}

.main-container-book-a-table {
  display: flex;
  justify-content: flex-end;
}

.imput {
  color: rgba(51, 51, 51, 0.5);
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  width: 277px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 27px 20px;
}

.imput:focus {
  outline: none;
  border: 2px solid var(--bottom-color);
}

.book-a-table-name {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
  color: var(--black-color);
}

.book-a-table-form {
  display: flex;
  width: 565px;
}

.form-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: var(--white-color);
  background: #e8c300;
  border-radius: 5px;
  border: none;
  width: 565px;
  height: 60px;
  text-transform: uppercase;
  cursor: pointer;
}

.book-a-table-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: rgba(51, 51, 51, 0.5);
}

.book-a-table-down-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
}

.black-text {
  font-weight: 700;
}

/* ==========================================specialties */

.specialties {
  background-image: url(../images/specialtes/specialty-bg.jpg);
  background-color: black;
  padding-top: 45px;
  padding-bottom: 10px;
}

.small-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--white-color);
}

.specialtes-name {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 3px;
}

.slick-dots li button:before {
  color: var(--white-color);
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: var(--bottom-color);
}

.specialties-text {
  display: flex;
  align-items: center;
}

/* ============================================MENU */

.menu {
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu-title {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 40px;
  color: var(--black-color);
}

.menu-main-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  color: var(--black-color);
  width: 545px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 65px;
}

.menu-navigation {
  display: flex;
  justify-content: center;
}

.menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-link {
  padding: 20px 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--black-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--bottom-color);
  color: var(--white-color);
  border-radius: 5px;
}

.menu-item:not(:last-child) {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.menu-price {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: -87px;
}

.menu-price-list {
  margin-right: 87px;
  margin-bottom: -40px;
}

.menu-name-eat {
  font-family: var(--heading-text);
  font-size: 18px;
  line-height: 1;
  color: #282828;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.menu-info-eat {
  font-size: 10px;
  line-height: 1.2;
  color: #808080;
  text-align: left;
  margin-bottom: 40px;
}

/* ===========================================================PRIVATE-EVENTS */

.events-container {
  padding-top: 40px;
  background-image: url(../images/events/events-bg.jpg);
  padding-left: 0;
  padding-right: 0;
}

.main-events-photo {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.events-down-photo {
  display: flex;
  justify-content: flex-start;
}

.events-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.gallery {
  border: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--black-color);
}

.events-down-photo img {
  height: 360px;
  width: 360px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.events-down-photo img:hover {
  width: 270px;
  height: 270px;
}

.events-tell {
  font-weight: 700;
}

/* ...........................MODAL-GALLERY............................... */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 998px;
  height: 998px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bottom-color);
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.btn {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.btn:hover,
.btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ==============================================================CONTACT */

.contact-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-title {
  font-size: 36px;
  line-height: 1.33;
  color: var(--black-color);
  margin-bottom: 50px;
}

.contact-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  color: var(--black-color);
  text-align: center;
  width: 565px;
  margin: 0 auto;
}

.contact-form {
  margin-top: 50px;
}

.contact-imput {
  width: 423px;
}

.contact-textarea {
  padding: 27px 20px;
  width: 1278px;
  height: 120px;
  resize: none;
}

.contact-down-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contact-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  margin-left: -5px;
}

.info-svg {
  fill: var(--bottom-color);
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

/* =============================================================FOOTER */

.footer-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 45px;
}

.map {
  width: 1440px;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 45px;
  text-align: center;
}

.footer-black-text {
  font-weight: 700;
}

/* =======================================================TOP BUTTON */

.topbutton {
  width: 100px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  fill: var(--bottom-color);
  font-family: verdana;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
